<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Video App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <!-- <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Video App</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <h1>Paulo Cruz</h1>
  <p>Video app teste</p>
  <a href="#">link de teste</a>
  <img src="https://avatars.githubusercontent.com/u/5950623?v=4" alt="eu">

</ion-content>
